version: '3.8'
services:
  crawler:
    build:
      context: .
      dockerfile: deployments/Dockerfile
    env_file:
      - main.env
    #    ports:
    #      - "36767:36767"
    volumes:
      - ./output/screenshots:/app/output/screenshots
    restart: always

  neo4j:
    image: neo4j:5-enterprise
    env_file:
      - deployments/neo4j/neo4j.env
    ports:
      - '7687:7687'
      - '7474:7474'
    volumes:
      - ./deployments/opt/neo4j_data:/data
      - ./deployments/opt/neo4j_logs:/logs

  redis:
    image: 'redis'
    command: [ "sh", "-c", "redis-server --requirepass \"$REDIS_PASSWORD\"" ]
    ports:
      - '6379:6379'
    env_file:
      - main.env

  broker:
    image: apache/kafka:latest
    container_name: broker
    env_file:
      - deployments/kafka/kafka.env
    ports:
      - "29092:29092"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    depends_on:
      - broker
    env_file:
      - deployments/kafka/kafkaui.env
    ports:
      - "8080:8080"